<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.atlasgames.kems"
    android:versionCode="6"
    android:versionName="Marshmallow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kems"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:ignore="RtlEnabled">

        <!-- SplashActivity as the only launcher -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Kems"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (normal activity, not launcher) -->
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/BootTheme"
            android:exported="true" />

        <!-- GameActivity -->
        <activity
            android:name=".activities.GameActivity"
            android:exported="false"
            android:theme="@style/Theme.Kems"
            tools:ignore="MissingClass" />
    </application>
</manifest>
