/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.StackPane {
  -fx-base : #239B56; 
  -fx-background-image : url("/resources/home-background.png");
}

/*Flat button example */
.jfx-button {
   -jfx-button-type: FLAT;
   -fx-background-color: white;
   -fx-text-fill: black;
}

/*Raised button example */
.jfx-button {
   -jfx-button-type: RAISED;
   -fx-background-color: blue;
   -fx-text-fill: white;
}
