/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#logo {
    -fx-background-image: url("../../../resources/kems-logo.png");
}

#menu {
    -fx-background-image: url("../../../resources/menu-background.png");
}

#instructions {
    -fx-background-image: url("../../../resources/instructions-background.png");
}

#board {
    -fx-background-image: url("../../../resources/board-background.png");
}

#carre {
    -fx-background-image: url("../../../resources/carre.png");
}

#card {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
}

#deck {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#pane {
    -fx-border-width: 2px;
    -fx-border-radius: 4 4 4 4;
}

#youWon {
    -fx-background-image: url("../../../resources/felicitations.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#youLost {
    -fx-background-image: url("../../../resources/pas-de-chance.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#spades-1 {
    -fx-background-image: url("../../../resources/cards/spades-1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-2 {
    -fx-background-image: url("../../../resources/cards/spades-2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-3 {
    -fx-background-image: url("../../../resources/cards/spades-3.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-4 {
    -fx-background-image: url("../../../resources/cards/spades-4.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-5 {
    -fx-background-image: url("../../../resources/cards/spades-5.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-6 {
    -fx-background-image: url("../../../resources/cards/spades-6.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-7 {
    -fx-background-image: url("../../../resources/cards/spades-7.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-8 {
    -fx-background-image: url("../../../resources/cards/spades-8.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-9 {
    -fx-background-image: url("../../../resources/cards/spades-9.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-10 {
    -fx-background-image: url("../../../resources/cards/spades-10.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-11 {
    -fx-background-image: url("../../../resources/cards/spades-11.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-12 {
    -fx-background-image: url("../../../resources/cards/spades-12.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-13 {
    -fx-background-image: url("../../../resources/cards/spades-13.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-1 {
    -fx-background-image: url("../../../resources/cards/diamonds-1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-2 {
    -fx-background-image: url("../../../resources/cards/diamonds-2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-3 {
    -fx-background-image: url("../../../resources/cards/diamonds-3.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-4 {
    -fx-background-image: url("../../../resources/cards/diamonds-4.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-5 {
    -fx-background-image: url("../../../resources/cards/diamonds-5.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-6 {
    -fx-background-image: url("../../../resources/cards/diamonds-6.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-7 {
    -fx-background-image: url("../../../resources/cards/diamonds-7.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-8 {
    -fx-background-image: url("../../../resources/cards/diamonds-8.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-9 {
    -fx-background-image: url("../../../resources/cards/diamonds-9.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-10 {
    -fx-background-image: url("../../../resources/cards/diamonds-10.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-11 {
    -fx-background-image: url("../../../resources/cards/diamonds-11.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-12 {
    -fx-background-image: url("../../../resources/cards/diamonds-12.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-13 {
    -fx-background-image: url("../../../resources/cards/diamonds-13.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-1 {
    -fx-background-image: url("../../../resources/cards/hearts-1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-2 {
    -fx-background-image: url("../../../resources/cards/hearts-2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-3 {
    -fx-background-image: url("../../../resources/cards/hearts-3.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-4 {
    -fx-background-image: url("../../../resources/cards/hearts-4.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-5 {
    -fx-background-image: url("../../../resources/cards/hearts-5.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-6 {
    -fx-background-image: url("../../../resources/cards/hearts-6.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-7 {
    -fx-background-image: url("../../../resources/cards/hearts-7.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-8 {
    -fx-background-image: url("../../../resources/cards/hearts-8.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts--9 {
    -fx-background-image: url("../../../resources/cards/hearts-9.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-10 {
    -fx-background-image: url("../../../resources/cards/hearts-10.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-11 {
    -fx-background-image: url("../../../resources/cards/hearts-11.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-12 {
    -fx-background-image: url("../../../resources/cards/hearts-12.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-13 {
    -fx-background-image: url("../../../resources/cards/hearts-13.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-1 {
    -fx-background-image: url("../../../resources/cards/clubs-1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-2 {
    -fx-background-image: url("../../../resources/cards/clubs-2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-3 {
    -fx-background-image: url("../../../resources/cards/clubs-3.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-4 {
    -fx-background-image: url("../../../resources/cards/clubs-4.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-5 {
    -fx-background-image: url("../../../resources/cards/clubs-5.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-6 {
    -fx-background-image: url("../../../resources/cards/clubs-6.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-7 {
    -fx-background-image: url("../../../resources/cards/clubs-7.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-8 {
    -fx-background-image: url("../../../resources/cards/clubs-8.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-9 {
    -fx-background-image: url("../../../resources/cards/clubs-9.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-10 {
    -fx-background-image: url("../../../resources/cards/clubs-10.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-11 {
    -fx-background-image: url("../../../resources/cards/clubs-11.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-12 {
    -fx-background-image: url("../../../resources/cards/clubs-12.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-13 {
    -fx-background-image: url("../../../resources/cards/clubs-13.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-1-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-2-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-3-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-4-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-5-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades6back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-7-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-8-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-9-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-10-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-11-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-12-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#spades-13-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-1-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-2-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-3-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-4-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-5-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-6-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-7-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-8-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-9-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-10-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-11-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-12-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#diamonds-13-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-1-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-2-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-3-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-4-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-5-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-6-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-7-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-8-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-9-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-10-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-11-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-12-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#hearts-13-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-1-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-2-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-3-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-4-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-5-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-6-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-7-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-8-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-9-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-10-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-11-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-12-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#clubs-13-back {
    -fx-background-image: url("../../../resources/cards/card-back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-radius: 4 4 4 4;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#raised-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #A34313 0%, #903B12 100%),
    #9D4024,
    #D86E3A,
    radial-gradient(center 50% 50%, radius 100%, #d86E3A, #C54E2C);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
    -fx-text-fill: #FDFEFE;
}

#raised-button:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#raised-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*OK Button*/
#ok-button {
    -fx-background-color: #FFC300;
    -fx-text-fill: #17202A;
    -fx-background-radius: 25px;
}